@import '../base/variables';

/* Header */
ul {
    list-style-type: none;
    li{
        display: inline-block;
        a {
            text-decoration: none;
            color: $light-grey;
            margin: 5px;
            font-size: $font-p;
        }
    }
}