@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
@import 'variables';

/* Globals */
hmtl {
    font-size: 60%;
    box-sizing: border-box;
    body {
        margin: 0;
        padding: 0;
        line-height: 1.5;
        font-family: 'Montserrat', sans-serif;
    }
}

/* *, *::before, *::after {
    box-sizing: inherit;
} */

h1 {
    font-size: $font-h1;
}

h2 {
    font-size: $font-h2;
}

h3 {
    font-size: $font-h3;
}

p {
    font-size: $font-p;
}

button {
    padding: $btn-padding;
    border: none;
    border-radius: $border-radius;
    background-color: $btn-color;
    cursor: pointer;
    margin: 10px;
}

